@import '../../../App.scss';

@include media-breakpoint-up(xs) {
  .nav-item {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    font-size: 1.5em;
    background-color: theme-color("secondary");
    transition: all 500ms;
    overflow: hidden;
    cursor: pointer;
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    &.active {
      background-color: darken(theme-color("secondary"), 10);
      box-shadow: inset -1px 2px 5px black;
    }
    &.hidden {
      transform: translateY(400px);
      height: 0;
      padding: 0;
    }
  }
}

@keyframes raise-and-leave {
  0% {
    height: auto;
    padding: {
      top: 0.5rem;
      bottom: 0.5rem;
    }
    transform: translateY(0);
  }
  100% {
    transform: translateY(400px);
    height: 0;
    padding: 0;
  }
}


@include media-breakpoint-up(md) {
  .nav-item {
    &.hidden {
      height: auto;
      padding: {
        top: 0.5rem;
        bottom: 0.5rem;
      }
      transform: translateY(0);
      animation: none;
    }
  }
}

@include media-breakpoint-up(xs) {
  .nav-item-content {
    display: inline-block;
    transition: all 500ms;
    transition-timing-function: ease-in-out;
    padding-right: 10px;
    width: 10px;

    &.hidden {
      width: 10px;
      padding-right: 10px;
      transform: translateX(0);
    }
  }
}

@include media-breakpoint-up(md) {
  .nav-item-content {
    &.hidden {
      width: 0;
      padding-right: 0;
      transform: translateX(-150px);
    }
  }
}

.nav-item-icon {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);
  transition: all 700ms;
  padding: {
    left: 0.5rem;
    right: 0.5rem;
  }
  &.active {
    animation-name: rotate-animation;
    animation-duration: 1s;
  }
}

@keyframes rotate-animation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
