@import '../../App.scss';

.btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    text-align:center;
    transition: all 200ms;
    font-size: 1em;
    cursor: pointer;
    &:focus {
        outline-width: thin;
        outline-style: auto;
    }
    &:disabled {
        cursor: not-allowed;
    }
}

.btn-clicked {
    transform: scale(0.95);
    box-shadow: inset 2px 1px 2px 1px rgba(0, 0, 0, .2);
}

.btn-mouse-over {
    transform: scale(1.05);
    box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, .2);
}

@mixin button-variant($variant-name, $color-name) {
    .btn-#{$variant-name} {
        font-weight:600;
        color: theme-color("light");
        background-color: theme-color($color-name);
        border: 2px solid;
        border-color: theme-color($color-name);
        &:hover {
            background-color: darken(theme-color($color-name), 10%)
        }
        &:disabled{
            background-color: darken(theme-color($color-name), 10%)
        }
    }

    .btn-#{$variant-name}-outline {
        border: 2px solid;
        border-color: theme-color($color-name);
        color: theme-color($color-name);
        background: transparent;
        &:disabled{
            background-color: transparentize($color: theme-color($color-name), $amount: 0.9);
        }
    }
}

@include button-variant("primary", "primary");
@include button-variant("secondary", "secondary");
@include button-variant("success", "success");
@include button-variant("info", "info");
@include button-variant("warning", "warning");
@include button-variant("danger", "danger");
