@import '../../App.scss';

.game-card {
    margin: {
        left: 10px;
        right: 10px;
    }
    background-color: $background-secondary;
    border: solid $background-secondary 2px;
    border-radius: 0.25rem;
    z-index: 1;
    font-weight: 600;
    font-size: 1.25em;
    &:hover {
        filter: brightness(85%);
    }
    &.selected {
        border: solid black 2px;
    }
    &.hearts {
        color: red;
    }
    &.diamonds {
        color: red;
    }
    &.spades {
        color: black;
    }
    &.clubs {
        color: black;
    }
}

@include media-breakpoint-up("xs") {
    $width: $breakpoint-sm * 0.15;
    .game-card {
        width: $width;
        height: $width * 1.5; 
    }
}

@include media-breakpoint-up("sm") {
    $width: $breakpoint-sm * 0.25;
    .game-card {
        width: $width;
        height: $width * 1.5; 
    }
}

@include media-breakpoint-up("xl") {
    $width: $breakpoint-lg * 0.2;
    .game-card {
        width: $width;
        height: $width * 1.5; 
    }
}