
$primary: #0074d9;
$primary-inverse: #fff;
$secondary: #ff4136;
$primary: #cc5cd6;
$secondary: #5cd6bc;
$info: #84ffe5;
$warning: #ffbf80;
$success: #4dff4d;
$danger: #ff3333;
$bg: #fff;
$text-bg: #000;

$primary-dark: brown;
$primary-dark-inverse: white;
$secondary-dark: grey;

.light {
    --primary: #{$primary};
    --primary-inverse: #{$primary-inverse};
    --secondary: #{$secondary};
}

.dark {
    --primary: #{$primary-dark};
    --primary-inverse: #{$primary-dark-inverse};
    --secondary: #{$secondary-dark};
}
